<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Home to airbnb</title>
  </head>
  <body>
    <header>
      <h1>Register Your Home</h1>
    </header>
    <main>
      <form action="/add-home" method="POST">
        <input
          type="text"
          name="homeName"
          placeholder="Enter Home Name"
        /><br /><br />
        <input type="submit" /><br />
      </form>
    </main>
  </body>
</html>
